body {
    width: 80%;
    margin: 0 auto;
    font-family: Fira Sans;
    background-color: aliceblue;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;

}

.logo {
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
}

.sign-in-btn {
    border: 1px solid rgb(0, 106, 80);
    color: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    background-color: #fff;
    padding: 15px 25px;
    border-radius: 8px;
}

.sign-in-btn:hover {
    color: #fff;
    background-color: rgb(0, 106, 80);
    cursor: pointer;
}

.banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px 80px 60px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    /* gap: 60px; */
}

.banner-section-text>h4 {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.banner-section-text>h2 {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 70px;
    margin: 24px 0;
}

.explore-btn {
    border: none;
    border-radius: 8px;
    background-color: rgb(0, 106, 80);
    padding: 15px 30px;
    font-weight: 600;
    color: #fff;
}

.explore-btn:hover {
    background-color: #fff;
    color: rgb(0, 106, 80);
    cursor: pointer;
}

.pillars-section {
    margin: 45px 0;
}

.pillars-section>h2,
.vision-section>h2,
.recent-news-section>h2 {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
}

.pillars-container {
    display: flex;
    gap: 15px;
}

.pillars {
    padding: 25px 25px 0 25px;
    text-align: justify;
    background-color: #fff;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}

.pillars:hover {
    background-color: rgb(198, 228, 214);
}

.pillars>h4,
.vision>h4 {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
}


.pillars>p,
.vision>p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

/* vision section styles here */
.vision-section>p,
.recent-news-section>p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
    margin-bottom: 50px;
    line-height: 24px;
}

.vision-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.vision {
    padding: 25px 25px 20px 25px;
    text-align: justify;
    margin-bottom: 50px;
    border-radius: 10px;
}

.Learn-more {
    border: none;
    padding: 11px 20px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
}

.Learn-more:hover{
    cursor: pointer;
}

.vision-one {
    background-color: #5490F533;
}

.vision-two {
    background-color: #C6E4D6;
}

.vision-three {
    background-color: #F7EBCF;
}


#digital {
    background-color: #5490F5;
}

#energy {
    background-color: #09A15C;
}

#infrastructure {
    background-color: #FFC239;
}

/* Speech Section start here */
.speech-container {
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 20px 25px;
    text-align: justify;
    background-color: #fff;
}

.speech-container>p {
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.speech-container>h4,
.chief-adviser {
    margin: 0;
}

.speech-section>img {
    position: relative;
    top: -190px;
    left: 20px;
}

/* Speech Section end here */

/* Recent-news start here */
.satellite-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 48px;
    background-color: #fff;
    border-radius: 16px;
    margin-bottom: 20px;
}

.satellite-container-two {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 48px;
    background-color: #fff;
    border-radius: 16px;
    margin-bottom: 20px;

}

.satellite-title {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0 0 10px 0;
}


.satellite-image>img {
    border-radius: 16px;
}

.satellite-image-two {
    display: flex;
    justify-content: end;
}

.satellite-image-two>img {
    border-radius: 16px;
}

.satellite-datetime {
    margin-top: 10px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.satellite-text {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
}

.read-more {
    padding: 15px 25px;
    background-color: #09A15C;
}

/* Recent-news end here */

/* Donate Section start here */
.donate-section {
    text-align: center;
}

.donate-section>h2,
.subscribe-section>h2 {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
}

.donate-section>p,
.subscribe-section>p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.donate-section>p {
    padding: 0 200px;
}

.taka-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 200px;
    gap: 25px;
    margin-bottom: 25px;
}

.taka:hover {
    background-color: #C6E4D6;
}

.taka {
    border: 1px solid rgba(14, 14, 14, 0.15);
    color: rgba(14, 14, 14, 0.8);
    background-color: #fff;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    border-radius: 16px;
}

.donate-section input {
    width: 70%;
    padding: 20px 15px;
    color: rgba(14, 14, 14, 0.3);
    font-size: 20px;
    font-weight: 400;
    border: none;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 25px;
}

/* Donate Section end here */

/* Subscribe section start here */
.subscribe-section {
    text-align: center;
    border-radius: 24px;
    background-color: rgb(198, 228, 214);
    padding: 50px 0;
    margin-top: 25px;
}

.email {
    margin-right: 0;
    border: 1px solid #fff;
    padding: 15px 0 15px 25px;
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px 0 0 10px;
}

.subscribe {
    margin-left: 0;
    border: none;
    padding-left: 0;
    padding: 15px 25px 15px 20px;
    left: -5px;
    position: relative;
    background-color: rgb(0, 106, 80);
    border-radius: 0px 10px 10px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.subscribe:hover{
    background-color: #fff;
    color: rgb(0, 106, 80);
}

/* Subscribe section end here */

footer{
    text-align: center;
    margin: 80px 0;
}
hr{
    width: 90%;
}
.image{
    padding: 20px;
}
